/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/laravel/framework/src/Illuminate/Foundation/Auth/AuthenticatesUsers.php
!.gitignore
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
smartplu_site.sql
app/GasCertificate.php
app/GasCertificateReport.php
app/Http/Controllers/GasCertificateController.php
database/migrations/2019_10_11_160420_create_gas_certificates_table.php
hostgator
hostgator.pub
laravel.log
public/img/vm-sign.png
public/templates/Gas Certificate Template.pdf
public/templates/gas_certificate_fair_trading.pdf
public/templates/gas_certificate_fair_trading_main.pdf
public/templates/gas_certificate_licensee.pdf
public/templates/gas_certificate_licensee_main.pdf
public/templates/gas_certificate_network_operator.pdf
public/templates/gas_certificate_network_operator_main.pdf
public/templates/gas_certificate_owner.pdf
public/templates/gas_certificate_owner_.pdf
public/templates/gas_certificate_owner_main.pdf
public/tmp/qr_fire_10.png
public/tmp/qr_fire_11.png
public/tmp/qr_fire_12.png
public/tmp/qr_fire_13.png
public/tmp/qr_fire_14.png
public/tmp/qr_fire_15.png
public/tmp/qr_fire_16.png
public/tmp/qr_fire_17.png
public/tmp/qr_fire_18.png
public/tmp/qr_fire_19.png
public/tmp/qr_fire_20.png
public/tmp/qr_fire_5.png
public/tmp/qr_fire_6.png
public/tmp/qr_fire_7.png